body {
    background: $light-grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 65%;
    margin: 0 auto;
    @media #{$old-computers} {
        width: 80%;
    }
    @media #{$tablet} {
        width: 90%;
    }
    @media #{$phone} {
        width: 100%;
    }
}

.flex-container {
    display: flex;
    
}


.space-between {
    justify-content: space-between;
}